.comment{
    display: flex;
    margin-bottom: 47px;

    &_title{
        font-weight: normal;
        margin-top: 50px;
    }

    &_text{
        display: flex;
        font-size: 14px;
        line-height: 19px;
        margin-inline-start: 8px;
        padding: 5px 0;
        overflow-wrap: break-word;
    }
  }

.new-comment{
  background: #FFFFFF;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  height: 57px;
  margin-top: 25px;
  margin-bottom: 30px;
  cursor: pointer;
  
  
  &_title {
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    padding: 15px;
  }
}